/*--- banner widget---*/
.banner-widget1-1 { padding-top: 0px; }
.banner-widget1-2-wrapper { padding-top: 0px; }
div.custom-sidebar.widget_goodlayers-1-2-banner-widget{ margin-bottom: 0px; }
div.banner-widget1-2-wrapper .banner-widget1-2{ float: left; width:48%; padding: 0px 10px;  }
div.banner-widget1-2-wrapper .banner-widget1-2 img{ display: block; }
#banner_link{
float: right;
border: 2px solid white;
margin-right: 30px;
padding: 5px;
margin-top: 10px;
font-style: italic;
font-size: 13px;
}
#banner_link:hover{
	border: 2px solid #ad50e2;
}
